In [3]:
# Load tools needed for project 1

import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px
import panel as pn
import os
from pathlib import Path
from dotenv import load_dotenv
%matplotlib inline

ModuleNotFoundError: No module named 'plotly'

In [4]:
pn.extension('plotly')

NameError: name 'pn' is not defined

In [5]:
import hvplot.pandas

ModuleNotFoundError: No module named 'hvplot'

In [6]:
load_dotenv()
mapbox = os.getenv("mapbox_api_key")
px.set_mapbox_access_token(mapbox)

NameError: name 'load_dotenv' is not defined

In [7]:
# Set Variables

In [8]:
# Load Data

In [9]:
# Import Data

nfl_data = pd.DataFrame([])
years_start = 1996
years_end = 2022
for year in range(years_start,years_end):
        url = f'https://www.pro-football-reference.com/years/{year}/preseason_odds.htm'
        df = pd.read_html(url)[0]
        df['year'] = year
        nfl_data = nfl_data.append(df, ignore_index=True, sort=False)
        
nfl_data.columns = ['Team', 'Super Bowl Odds', 'W/l Over-Under', 'Record', 'Year']

nfl_data.head()

                Team  Super Bowl Odds  W/l Over-Under        Record  Year
0  Arizona Cardinals            12000             5.5    7-9 (over)  1996
1    Atlanta Falcons             4000             8.0  3-13 (under)  1996
2   Baltimore Ravens             3000             7.5  4-12 (under)  1996
3      Buffalo Bills             1500             8.5   10-6 (over)  1996
4  Carolina Panthers             8000             5.5   12-4 (over)  1996

In [70]:
superbowl = pd.read_csv(
    "superbowl_data.csv")
superbowl['Season Year'] = superbowl['Year'] - 1
#superbowl.iloc[:,0] = superbowl.iloc[:,0].shift(1)
superbowl.head()

,Date,Year,SB,Winner,Winner Pts,Loser,Loser Pts,MVP,Stadium,City,State,Season Year
0,Feb 7,2021,LV (55),Tampa Bay Buccaneers,31,Kansas City Chiefs,9,Tom Brady,Raymond James Stadium,Tampa,Florida,2020
1,Feb 2,2020,LIV (54),Kansas City Chiefs,31,San Francisco 49ers,20,Patrick Mahomes,Hard Rock Stadium,Miami Gardens,Florida,2019
2,Feb 3,2019,LIII (53),New England Patriots,13,Los Angeles Rams,3,Julian Edelman,Mercedes-Benz Stadium,Atlanta,Georgia,2018
3,Feb 4,2018,LII (52),Philadelphia Eagles,41,New England Patriots,33,Nick Foles,U.S. Bank Stadium,Minneapolis,Minnesota,2017
4,Feb 5,2017,LI (51),New England Patriots,34,Atlanta Falcons,28,Tom Brady,NRG Stadium,Houston,Texas,2016

'Kansas City Chiefs'

In [13]:
nfl_data.sort_values(['Year','Super Bowl Odds'], ascending=True, inplace=True)
nfl_data.set_index('Year')

                      Team  Super Bowl Odds  W/l Over-Under        Record
Year
1996   San Francisco 49ers              250            12.0   12-4 (push)
1996        Dallas Cowboys              600            10.5  10-6 (under)
1996     Green Bay Packers              800            10.0   13-3 (over)
1996   Pittsburgh Steelers             1000            10.0   10-6 (push)
1996    Kansas City Chiefs             1200             9.0    9-7 (push)
...                    ...              ...             ...           ...
2021  Jacksonville Jaguars            12500             6.5          3-14
2021    Cincinnati Bengals            15000             6.5          10-7
2021         New York Jets            15000             6.0          4-13
2021         Detroit Lions            25000             4.5        3-13-1
2021        Houston Texans            30000             4.0          4-13

[823 rows x 4 columns]

In [92]:
# Strategy 1 - $100 on favorite

# Strategy 2 - $100 on Top 3
def top3(x):
    dftop3 = nfl_data[nfl_data['Year'] == x]
    return dftop3.head(3)

# Strategy 3 - $100 on Top 5def top5(x):
def top5(x):
    dftop5 = nfl_data[nfl_data['Year'] == x]
    return dftop5.head(5)

In [138]:
top5(2020)

                     Team  Super Bowl Odds  W/l Over-Under        Record  Year
774    Kansas City Chiefs              450            11.5   14-2 (over)  2020
761      Baltimore Ravens              500            11.5  11-5 (under)  2020
781    New Orleans Saints             1000            10.5   12-4 (over)  2020
786   San Francisco 49ers             1000            10.5  6-10 (under)  2020
788  Tampa Bay Buccaneers             1000             9.5   11-5 (over)  2020

In [121]:
def xy(yr):
    superbowl_winners = superbowl[superbowl['Year'] == yr]
    for team in top5(yr)['Team']:
        if team ==  superbowl_winners['Winner'].item():
            return team
        else:
            return False
xy(2018)

False

In [125]:
def odds(yr):
    superbowl_odds = top5(yr)[top5(yr)['Team'] == xy(yr)]
    return superbowl_odds['Super Bowl Odds'].item()
odds(2019)

400

In [144]:
def main(yr):
    if xy(yr) != False:
        return odds(yr)
    else:
        print("lose")
main(2020)

450

In [16]:
top5(2021)

                     Team  Super Bowl Odds  W/l Over-Under Record  Year
806    Kansas City Chiefs              450            12.5   12-5  2021
820  Tampa Bay Buccaneers              700            12.0   13-4  2021
794         Buffalo Bills             1100            11.5   11-6  2021
809      Los Angeles Rams             1200            10.5   12-5  2021
793      Baltimore Ravens             1400            10.5    8-9  2021

In [29]:
# Charting - Individual Bar Graph Strat 1, 2, & 3

# Charting - Combined Bar Graph Total Wins Over Years

# Charting - Combine Bar Graph Total $ Won or Lost Over Years

In [ ]:
# Correlation Analysis

# 1. Correlation between end of season preseason leaders vs. Making SB
# Charting - Pie Chart? Scatter Plot?

In [ ]:
# 2. Correlation between end of season records of preseason favorites vs SB Teams
# Charting - Side by side - Bar Graph?

In [ ]:
# 3. Correlation between preseason wins vs regular season success  
# Charting - Side by side - Bar Graph?

In [ ]:
# Post Season Analysis
# Distance Travel by Teams wins and losses
# Charting - Heatmap?

# Post Season odds