In [33]:
# Load tools needed for project 1

import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px
import panel as pn
import os
from pathlib import Path
from dotenv import load_dotenv
%matplotlib inline

In [34]:
pn.extension('plotly')

In [35]:
import hvplot.pandas

In [36]:
load_dotenv()
mapbox = os.getenv("mapbox_api_key")
px.set_mapbox_access_token(mapbox)

In [37]:
# Set Variables

In [38]:
# Load Data

In [54]:
# Import Data

nfl_data = pd.DataFrame([])
years_start = 1996
years_end = 2022
for year in range(years_start,years_end):
        url = f'https://www.pro-football-reference.com/years/{year}/preseason_odds.htm'
        df = pd.read_html(url)[0]
        df['year'] = year
        nfl_data = nfl_data.append(df, ignore_index=True, sort=False)
        
nfl_data.columns = ['Team', 'Super Bowl Odds', 'W/l Over-Under', 'Record', 'Year']

nfl_data.head()

                Team  Super Bowl Odds  W/l Over-Under        Record  Year
0  Arizona Cardinals            12000             5.5    7-9 (over)  1996
1    Atlanta Falcons             4000             8.0  3-13 (under)  1996
2   Baltimore Ravens             3000             7.5  4-12 (under)  1996
3      Buffalo Bills             1500             8.5   10-6 (over)  1996
4  Carolina Panthers             8000             5.5   12-4 (over)  1996

In [51]:
superbowl_df = Path ("../Project-1_Team-2/superbowl_data.csv")
superbowl = pd.read_csv(
    superbowl_df)
superbowl['Season Year'] = superbowl['Year'] - 1
#superbowl.iloc[:,0] = superbowl.iloc[:,0].shift(1)
superbowl.head()

,Date,Year,SB,Winner,Winner Pts,Loser,Loser Pts,MVP,Stadium,City,State,Season Year
0,Feb 7,2021,LV (55),Tampa Bay Buccaneers,31,Kansas City Chiefs,9,Tom Brady,Raymond James Stadium,Tampa,Florida,2020
1,Feb 2,2020,LIV (54),Kansas City Chiefs,31,San Francisco 49ers,20,Patrick Mahomes,Hard Rock Stadium,Miami Gardens,Florida,2019
2,Feb 3,2019,LIII (53),New England Patriots,13,Los Angeles Rams,3,Julian Edelman,Mercedes-Benz Stadium,Atlanta,Georgia,2018
3,Feb 4,2018,LII (52),Philadelphia Eagles,41,New England Patriots,33,Nick Foles,U.S. Bank Stadium,Minneapolis,Minnesota,2017
4,Feb 5,2017,LI (51),New England Patriots,34,Atlanta Falcons,28,Tom Brady,NRG Stadium,Houston,Texas,2016

In [48]:
# Strategy 1 - $100 on favorite

# Strategy 2 - $100 on Top 3
def top3(x):
    dftop3 = nfl_data[nfl_data['Year'] == x]
    return dftop3.head(3)

# Strategy 3 - $100 on Top 5def top5(x):
def top5(x):
    dftop5 = nfl_data[nfl_data['Year'] == x]
    return dftop5.head(5)

In [52]:
top3(2021)

                  Team  Super Bowl Odds  W/l Over-Under Record  Year
791  Arizona Cardinals             3500             8.5   11-6  2021
792    Atlanta Falcons             8000             7.5   7-10  2021
793   Baltimore Ravens             1400            10.5    8-9  2021

In [53]:
top5(2021)

                  Team  Super Bowl Odds  W/l Over-Under Record  Year
791  Arizona Cardinals             3500             8.5   11-6  2021
792    Atlanta Falcons             8000             7.5   7-10  2021
793   Baltimore Ravens             1400            10.5    8-9  2021
794      Buffalo Bills             1100            11.5   11-6  2021
795  Carolina Panthers             8000             7.5   5-12  2021

In [29]:
# Charting - Individual Bar Graph Strat 1, 2, & 3

# Charting - Combined Bar Graph Total Wins Over Years

# Charting - Combine Bar Graph Total $ Won or Lost Over Years

In [ ]:
# Correlation Analysis

# 1. Correlation between end of season preseason leaders vs. Making SB
# Charting - Pie Chart? Scatter Plot?

In [ ]:
# 2. Correlation between end of season records of preseason favorites vs SB Teams
# Charting - Side by side - Bar Graph?

In [ ]:
# 3. Correlation between preseason wins vs regular season success  
# Charting - Side by side - Bar Graph?

In [ ]:
# Post Season Analysis
# Distance Travel by Teams wins and losses
# Charting - Heatmap?

# Post Season odds