In [10]:
import pandas as pd
import os
from pathlib import Path
from dotenv import load_dotenv
%matplotlib inline

In [63]:
superbowl_df = Path ("../Project-1_Team-2/superbowl_data.csv")

superbowl = pd.read_csv(
    superbowl_df, index_col="Year")
superbowl.iloc[:,0] = superbowl.iloc[:,0].shift(1)
superbowl.head()

,Date,SB,Winner,Winner Pts,Loser,Loser Pts,MVP,Stadium,City,State
Year,,,,,,,,,,
2021,NaN,LV (55),Tampa Bay Buccaneers,31,Kansas City Chiefs,9,Tom Brady,Raymond James Stadium,Tampa,Florida
2020,Feb 7,LIV (54),Kansas City Chiefs,31,San Francisco 49ers,20,Patrick Mahomes,Hard Rock Stadium,Miami Gardens,Florida
2019,Feb 2,LIII (53),New England Patriots,13,Los Angeles Rams,3,Julian Edelman,Mercedes-Benz Stadium,Atlanta,Georgia
2018,Feb 3,LII (52),Philadelphia Eagles,41,New England Patriots,33,Nick Foles,U.S. Bank Stadium,Minneapolis,Minnesota
2017,Feb 4,LI (51),New England Patriots,34,Atlanta Falcons,28,Tom Brady,NRG Stadium,Houston,Texas

In [24]:
raw_data = pd.DataFrame([])
years_start = 1996
years_end = 2022
for year in range(years_start,years_end):
        url = f'https://www.pro-football-reference.com/years/{year}/preseason_odds.htm'
        df = pd.read_html(url)[0]
        df['year'] = year
        raw_data = raw_data.append(df, ignore_index=True, sort=False)
raw_data

                           Tm  Super Bowl Odds  W/L O-U        Record  year
0           Arizona Cardinals            12000      5.5    7-9 (over)  1996
1             Atlanta Falcons             4000      8.0  3-13 (under)  1996
2            Baltimore Ravens             3000      7.5  4-12 (under)  1996
3               Buffalo Bills             1500      8.5   10-6 (over)  1996
4           Carolina Panthers             8000      5.5   12-4 (over)  1996
..                        ...              ...      ...           ...   ...
818       San Francisco 49ers             1400     10.5          10-7  2021
819          Seattle Seahawks             2500      9.5          7-10  2021
820      Tampa Bay Buccaneers              700     12.0          13-4  2021
821          Tennessee Titans             2000      9.5          12-5  2021
822  Washington Football Team             4000      8.5          7-10  2021

[823 rows x 5 columns]

In [13]:
load_dotenv()

True

In [31]:
raw_data.set_index("year")

                            Tm  Super Bowl Odds  W/L O-U        Record
year
1996         Arizona Cardinals            12000      5.5    7-9 (over)
1996           Atlanta Falcons             4000      8.0  3-13 (under)
1996          Baltimore Ravens             3000      7.5  4-12 (under)
1996             Buffalo Bills             1500      8.5   10-6 (over)
1996         Carolina Panthers             8000      5.5   12-4 (over)
...                        ...              ...      ...           ...
2021       San Francisco 49ers             1400     10.5          10-7
2021          Seattle Seahawks             2500      9.5          7-10
2021      Tampa Bay Buccaneers              700     12.0          13-4
2021          Tennessee Titans             2000      9.5          12-5
2021  Washington Football Team             4000      8.5          7-10

[823 rows x 4 columns]

In [14]:
sportsdata_io = os.getenv("sports_io")

In [15]:
mapbox = os.getenv("mapbox_api_key")

In [33]:
df2 = pd.concat([raw_data, superbowl], join=)
print(df2)

                     Tm  Super Bowl Odds  W/L O-U        Record    year  \
0     Arizona Cardinals          12000.0      5.5    7-9 (over)  1996.0
1       Atlanta Falcons           4000.0      8.0  3-13 (under)  1996.0
2      Baltimore Ravens           3000.0      7.5  4-12 (under)  1996.0
3         Buffalo Bills           1500.0      8.5   10-6 (over)  1996.0
4     Carolina Panthers           8000.0      5.5   12-4 (over)  1996.0
...                 ...              ...      ...           ...     ...
1971                NaN              NaN      NaN           NaN     NaN
1970                NaN              NaN      NaN           NaN     NaN
1969                NaN              NaN      NaN           NaN     NaN
1968                NaN              NaN      NaN           NaN     NaN
1967                NaN              NaN      NaN           NaN     NaN

        Date       SB              Winner  Winner Pts               Loser  \
0        NaN      NaN                 NaN         NaN                 NaN
1        NaN      NaN                 NaN         NaN                 NaN
2        NaN      NaN                 NaN         NaN                 NaN
3        NaN      NaN                 NaN         NaN                 NaN
4        NaN      NaN                 NaN         NaN                 NaN
...      ...      ...                 ...         ...                 ...
1971  Jan 17    V (5)     Baltimore Colts        16.0      Dallas Cowboys
1970  Jan 11   IV (4)  Kansas City Chiefs        23.0   Minnesota Vikings
1969  Jan 12  III (3)       New York Jets        16.0     Baltimore Colts
1968  Jan 14   II (2)   Green Bay Packers        33.0     Oakland Raiders
1967  Jan 15    I (1)   Green Bay Packers        35.0  Kansas City Chiefs

      Loser Pts           MVP            Stadium         City       State
0           NaN           NaN                NaN          NaN         NaN
1           NaN           NaN                NaN          NaN         NaN
2           NaN           NaN                NaN          NaN         NaN
3           NaN           NaN                NaN          NaN         NaN
4           NaN           NaN                NaN          NaN         NaN
...         ...           ...                ...          ...         ...
1971       13.0  Chuck Howley        Orange Bowl        Miami     Florida
1970        7.0   Len Dawson+     Tulane Stadium  New Orleans   Louisiana
1969        7.0   Joe Namath+        Orange Bowl        Miami     Florida
1968       14.0   Bart Starr+        Orange Bowl        Miami     Florida
1967       10.0   Bart Starr+  Memorial Coliseum  Los Angeles  California

[878 rows x 15 columns]