In [39]:
# Load tools needed for project 1

import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px
import panel as pn
import os
from pathlib import Path
from dotenv import load_dotenv
%matplotlib inline

ModuleNotFoundError: No module named 'plotly'

In [40]:
pn.extension('plotly')

NameError: name 'pn' is not defined

In [41]:
import hvplot.pandas

ModuleNotFoundError: No module named 'hvplot.pandas'

In [42]:
load_dotenv()
mapbox = os.getenv("mapbox_api_key")
px.set_mapbox_access_token(mapbox)

NameError: name 'load_dotenv' is not defined

In [43]:
# Set Variables

In [44]:
# Load Data

In [45]:
# Import Data

nfl_data = pd.DataFrame([])
years_start = 1996
years_end = 2022
for year in range(years_start,years_end):
        url = f'https://www.pro-football-reference.com/years/{year}/preseason_odds.htm'
        df = pd.read_html(url)[0]
        df['year'] = year
        nfl_data = nfl_data.append(df, ignore_index=True, sort=False)
        
nfl_data.columns = ['Team', 'Super Bowl Odds', 'W/l Over-Under', 'Record', 'Year']

nfl_data.head()

                Team  Super Bowl Odds  W/l Over-Under        Record  Year
0  Arizona Cardinals            12000             5.5    7-9 (over)  1996
1    Atlanta Falcons             4000             8.0  3-13 (under)  1996
2   Baltimore Ravens             3000             7.5  4-12 (under)  1996
3      Buffalo Bills             1500             8.5   10-6 (over)  1996
4  Carolina Panthers             8000             5.5   12-4 (over)  1996

In [46]:
superbowl = pd.read_csv(
    "superbowl_data.csv")
superbowl['Season Year'] = superbowl['Year'] - 1
#superbowl.iloc[:,0] = superbowl.iloc[:,0].shift(1)
superbowl.head()

,Date,Year,SB,Winner,Winner Pts,Loser,Loser Pts,MVP,Stadium,City,State,Season Year
0,Feb 7,2021,LV (55),Tampa Bay Buccaneers,31,Kansas City Chiefs,9,Tom Brady,Raymond James Stadium,Tampa,Florida,2020
1,Feb 2,2020,LIV (54),Kansas City Chiefs,31,San Francisco 49ers,20,Patrick Mahomes,Hard Rock Stadium,Miami Gardens,Florida,2019
2,Feb 3,2019,LIII (53),New England Patriots,13,Los Angeles Rams,3,Julian Edelman,Mercedes-Benz Stadium,Atlanta,Georgia,2018
3,Feb 4,2018,LII (52),Philadelphia Eagles,41,New England Patriots,33,Nick Foles,U.S. Bank Stadium,Minneapolis,Minnesota,2017
4,Feb 5,2017,LI (51),New England Patriots,34,Atlanta Falcons,28,Tom Brady,NRG Stadium,Houston,Texas,2016

In [47]:
nfl_data.sort_values(['Year','Super Bowl Odds'], ascending=True, inplace=True)
nfl_data.set_index('Year')

                      Team  Super Bowl Odds  W/l Over-Under        Record
Year
1996   San Francisco 49ers              250            12.0   12-4 (push)
1996        Dallas Cowboys              600            10.5  10-6 (under)
1996     Green Bay Packers              800            10.0   13-3 (over)
1996   Pittsburgh Steelers             1000            10.0   10-6 (push)
1996    Kansas City Chiefs             1200             9.0    9-7 (push)
...                    ...              ...             ...           ...
2021  Jacksonville Jaguars            12500             6.5          3-14
2021    Cincinnati Bengals            15000             6.5          10-7
2021         New York Jets            15000             6.0          4-13
2021         Detroit Lions            25000             4.5        3-13-1
2021        Houston Texans            30000             4.0          4-13

[823 rows x 4 columns]

In [64]:
# Strategy 1 - $100 on favorite
def top1(x):
    dftop1 = nfl_data[nfl_data['Year'] == x]
    return dftop1.head(1)
# Strategy 2 - $100 on Top 3
def top2(x):
    dftop2 = nfl_data[nfl_data['Year'] == x]
    return dftop2.head(2)

# Strategy 3 - $100 on Top 5def top5(x):
def top5(x):
    dftop5 = nfl_data[nfl_data['Year'] == x]
    return dftop5.head(5)

In [49]:
top5(2019)

                     Team  Super Bowl Odds  W/l Over-Under       Record  Year
747  New England Patriots              400            11.5  12-4 (over)  2019
742    Kansas City Chiefs              600            10.5  12-4 (over)  2019
748    New Orleans Saints             1000            10.5  13-3 (over)  2019
732         Chicago Bears             1200             9.0  8-8 (under)  2019
752   Philadelphia Eagles             1200            10.0  9-7 (under)  2019

In [50]:
def xy(yr,strategy):
    superbowl_winners = superbowl[superbowl['Year'] == yr]
    if strategy == 1:
        if any(team==superbowl_winners['Winner'].item() for team in top1(yr)['Team']):
            return superbowl_winners['Winner'].item()
        else:
            return False
    elif strategy == 2:
        if any(team==superbowl_winners['Winner'].item() for team in top2(yr)['Team']):
            return superbowl_winners['Winner'].item()
        else:
            return False
    elif strategy == 3:
        if any(team==superbowl_winners['Winner'].item() for team in top5(yr)['Team']):
            return superbowl_winners['Winner'].item()
        else:
            return False

In [51]:
def odds(yr, strategy):
    if strategy == 1:
        superbowl_odds = top1(yr)[top1(yr)['Team'] == xy(yr,strategy)]
        return superbowl_odds['Super Bowl Odds'].item()
    elif strategy == 2:
        superbowl_odds = top2(yr)[top2(yr)['Team'] == xy(yr,strategy)]
        return superbowl_odds['Super Bowl Odds'].item()
    elif strategy == 3:
        superbowl_odds = top5(yr)[top5(yr)['Team'] == xy(yr,strategy)]
        return superbowl_odds['Super Bowl Odds'].item()

In [52]:
def main(yr,strategy):
    while xy(yr,strategy) != False:
        if strategy == 1:
            return ((odds(yr,strategy))*1) +100
        elif strategy == 2:
            return ((odds(yr,strategy))*.5) -50
        elif strategy == 3:
            return ((odds(yr,strategy))*.2) -80
    else:
        return -100

In [79]:
strategies = [3,2,1]
df_combined = superbowl
for strategy in strategies:
    output = []
    for yr in range(years_start,years_end):
        output.append(main(yr,strategy))
    output.reverse()
    df = pd.DataFrame(output)
    df.columns = [f"strat{strategy}"]
    df_combined = pd.concat([df, df_combined], axis=1)
df_combined

,strat1,strat2,strat3,Date,Year,SB,Winner,Winner Pts,Loser,Loser Pts,MVP,Stadium,City,State,Season Year
0,-100.0,300.0,60.0,Feb 7,2021,LV (55),Tampa Bay Buccaneers,31,Kansas City Chiefs,9,Tom Brady,Raymond James Stadium,Tampa,Florida,2020
1,550.0,175.0,10.0,Feb 2,2020,LIV (54),Kansas City Chiefs,31,San Francisco 49ers,20,Patrick Mahomes,Hard Rock Stadium,Miami Gardens,Florida,2019
2,500.0,150.0,0.0,Feb 3,2019,LIII (53),New England Patriots,13,Los Angeles Rams,3,Julian Edelman,Mercedes-Benz Stadium,Atlanta,Georgia,2018
3,-100.0,-100.0,-100.0,Feb 4,2018,LII (52),Philadelphia Eagles,41,New England Patriots,33,Nick Foles,U.S. Bank Stadium,Minneapolis,Minnesota,2017
4,375.0,87.5,-25.0,Feb 5,2017,LI (51),New England Patriots,34,Atlanta Falcons,28,Tom Brady,NRG Stadium,Houston,Texas,2016
5,-100.0,-100.0,-100.0,Feb 7,2016,50,Denver Broncos,24,Carolina Panthers,10,Von Miller,Levi's Stadium,Santa Clara,California,2015
6,-100.0,-100.0,80.0,Feb 1,2015,XLIX (49),New England Patriots,28,Seattle Seahawks,24,Tom Brady,University of Phoenix Stadium,Glendale,Arizona,2014
7,550.0,175.0,10.0,Feb 2,2014,XLVIII (48),Seattle Seahawks,43,Denver Broncos,8,Malcolm Smith,MetLife Stadium,East Rutherford,New Jersey,2013
8,-100.0,-100.0,-100.0,Feb 3,2013,XLVII (47),Baltimore Ravens,34,San Francisco 49ers,31,Joe Flacco,Mercedes-Benz Superdome,New Orleans,Louisiana,2012
9,-100.0,-100.0,-100.0,Feb 5,2012,XLVI (46),New York Giants,21,New England Patriots,17,Eli Manning,Lucas Oil Stadium,Indianapolis,Indiana,2011
10,-100.0,275.0,50.0,Feb 6,2011,XLV (45),Green Bay Packers,31,Pittsburgh Steelers,25,Aaron Rodgers,Cowboys Stadium,Arlington,Texas,2010
11,-100.0,-100.0,120.0,Feb 7,2010,XLIV (44),New Orleans Saints,31,Indianapolis Colts,17,Drew Brees,Sun Life Stadium,Miami Gardens,Florida,2009
12,-100.0,450.0,120.0,Feb 1,2009,XLIII (43),Pittsburgh Steelers,27,Arizona Cardinals,23,Santonio Holmes,Raymond James Stadium,Tampa,Florida,2008
13,-100.0,-100.0,-100.0,Feb 3,2008,XLII (42),New York Giants,17,New England Patriots,14,Eli Manning,University of Phoenix Stadium,Glendale,Arizona,2007
14,-100.0,-100.0,80.0,Feb 4,2007,XLI (41),Indianapolis Colts,29,Chicago Bears,17,Peyton Manning,Dolphin Stadium,Miami Gardens,Florida,2006
15,-100.0,-100.0,160.0,Feb 5,2006,XL (40),Pittsburgh Steelers,21,Seattle Seahawks,10,Hines Ward,Ford Field,Detroit,Michigan,2005
16,-100.0,200.0,20.0,Feb 6,2005,XXXIX (39),New England Patriots,24,Philadelphia Eagles,21,Deion Branch,Alltel Stadium,Jacksonville,Florida,2004
17,-100.0,250.0,40.0,Feb 1,2004,XXXVIII (38),New England Patriots,32,Carolina Panthers,29,Tom Brady,Reliant Stadium,Houston,Texas,2003
18,900.0,350.0,80.0,Jan 26,2003,XXXVII (37),Tampa Bay Buccaneers,48,Oakland Raiders,21,Dexter Jackson,Qualcomm Stadium,San Diego,California,2002
19,-100.0,-100.0,-100.0,Feb 3,2002,XXXVI (36),New England Patriots,20,St. Louis Rams,17,Tom Brady,Louisiana Superdome,New Orleans,Louisiana,2001
20,-100.0,-100.0,80.0,Jan 28,2001,XXXV (35),Baltimore Ravens,34,New York Giants,7,Ray Lewis+,Raymond James Stadium,Tampa,Florida,2000
21,400.0,100.0,-20.0,Jan 30,2000,XXXIV (34),St. Louis Rams,23,Tennessee Titans,16,Kurt Warner+,Georgia Dome,Atlanta,Georgia,1999
22,-100.0,200.0,20.0,Jan 31,1999,XXXIII (33),Denver Broncos,34,Atlanta Falcons,19,John Elway+,Pro Player Stadium,Miami Gardens,Florida,1998
23,-100.0,-100.0,40.0,Jan 25,1998,XXXII (32),Denver Broncos,31,Green Bay Packers,24,Terrell Davis+,Qualcomm Stadium,San Diego,California,1997
24,350.0,75.0,-30.0,Jan 26,1997,XXXI (31),Green Bay Packers,35,New England Patriots,21,Desmond Howard,Louisiana Superdome,New Orleans,Louisiana,1996
25,-100.0,250.0,40.0,Jan 28,1996,XXX (30),Dallas Cowboys,27,Pittsburgh Steelers,17,Larry Brown,Sun Devil Stadium,Tempe,Arizona,1995
26,NaN,NaN,NaN,Jan 29,1995,XXIX (29),San Francisco 49ers,49,San Diego Chargers,26,Steve Young+,Joe Robbie Stadium,Miami Gardens,Florida,1994
27,NaN,NaN,NaN,Jan 30,1994,XXVIII (28),Dallas Cowboys,30,Buffalo Bills,13,Emmitt Smith+,Georgia Dome,Atlanta,Georgia,1993
28,NaN,NaN,NaN,Jan 31,1993,XXVII (27),Dallas Cowboys,52,Buffalo Bills,17,Troy Aikman+,Rose Bowl,Pasadena,California,1992
29,NaN,NaN,NaN,Jan 26,1992,XXVI (26),Washington Redskins,37,Buffalo Bills,24,Mark Rypien,Metrodome,Minneapolis,Minnesota,1991
30,NaN,NaN,NaN,Jan 27,1991,XXV (25),New York Giants,20,Buffalo Bills,19,Ottis Anderson,Tampa Stadium,Tampa,Florida,1990
31,NaN,NaN,NaN,Jan 28,1990,XXIV (24),San Francisco 49ers,55,Denver Broncos,10,Joe Montana+,Louisiana Superdome,New Orleans,Louisiana,1989
32,NaN,NaN,NaN,Jan 22,1989,XXIII (23),San Francisco 49ers,20,Cincinnati Bengals,16,Jerry Rice+,Joe Robbie Stadium,Miami Gardens,Florida,1988
33,NaN,NaN,NaN,Jan 31,1988,XXII (22),Washington Redskins,42,Denver Broncos,10,Doug Williams,Jack Murphy Stadium,San Diego,California,1987
34,NaN,NaN,NaN,Jan 25,1987,XXI (21),New York Giants,39,Denver Broncos,20,Phil Simms,Rose Bowl,Pasadena,California,1986
35,NaN,NaN,NaN,Jan 26,1986,XX (20),Chicago Bears,46,New England Patriots,10,Richard Dent+,Louisiana Superdome,New Orleans,Louisiana,1985
36,NaN,NaN,NaN,Jan 20,1985,XIX (19),San Francisco 49ers,38,Miami Dolphins,16,Joe Montana+,Stanford Stadium,Palo Alto,California,1984
37,NaN,NaN,NaN,Jan 22,1984,XVIII (18),Los Angeles Raiders,38,Washington Redskins,9,Marcus Allen+,Tampa Stadium,Tampa,Florida,1983
38,NaN,NaN,NaN,Jan 30,1983,XVII (17),Washington Redskins,27,Miami Dolphins,17,John Riggins+,Rose Bowl,Pasadena,California,1982
39,NaN,NaN,NaN,Jan 24,1982,XVI (16),San Francisco 49ers,26,Cincinnati Bengals,21,Joe Montana+,Pontiac Silverdome,Pontiac,Michigan,1981
40,NaN,NaN,NaN,Jan 25,1981,XV (15),Oakland Raiders,27,Philadelphia Eagles,10,Jim Plunkett,Louisiana Superdome,New Orleans,Louisiana,1980
41,NaN,NaN,NaN,Jan 20,1980,XIV (14),Pittsburgh Steelers,31,Los Angeles Rams,19,Terry Bradshaw+,Rose Bowl,Pasadena,California,1979
42,NaN,NaN,NaN,Jan 21,1979,XIII (13),Pittsburgh Steelers,35,Dallas Cowboys,31,Terry Bradshaw+,Orange Bowl,Miami,Florida,1978
43,NaN,NaN,NaN,Jan 15,1978,XII (12),Dallas Cowboys,27,Denver Broncos,10,Harvey MartinRandy White+,Superdome,New Orleans,Louisiana,1977
44,NaN,NaN,NaN,Jan 9,1977,XI (11),Oakland Raiders,32,Minnesota Vikings,14,Fred Biletnikoff+,Rose Bowl,Pasadena,California,1976
45,NaN,NaN,NaN,Jan 18,1976,X (10),Pittsburgh Steelers,21,Dallas Cowboys,17,Lynn Swann+,Orange Bowl,Miami,Florida,1975
46,NaN,NaN,NaN,Jan 12,1975,IX (9),Pittsburgh Steelers,16,Minnesota Vikings,6,Franco Harris+,Tulane Stadium,New Orleans,Louisiana,1974
47,NaN,NaN,NaN,Jan 13,1974,VIII (8),Miami Dolphins,24,Minnesota Vikings,7,Larry Csonka+,Rice Stadium,Houston,Texas,1973
48,NaN,NaN,NaN,Jan 14,1973,VII (7),Miami Dolphins,14,Washington Redskins,7,Jake Scott,Memorial Coliseum,Los Angeles,California,1972
49,NaN,NaN,NaN,Jan 16,1972,VI (6),Dallas Cowboys,24,Miami Dolphins,3,Roger Staubach+,Tulane Stadium,New Orleans,Louisiana,1971
50,NaN,NaN,NaN,Jan 17,1971,V (5),Baltimore Colts,16,Dallas Cowboys,13,Chuck Howley,Orange Bowl,Miami,Florida,1970
51,NaN,NaN,NaN,Jan 11,1970,IV (4),Kansas City Chiefs,23,Minnesota Vikings,7,Len Dawson+,Tulane Stadium,New Orleans,Louisiana,1969
52,NaN,NaN,NaN,Jan 12,1969,III (3),New York Jets,16,Baltimore Colts,7,Joe Namath+,Orange Bowl,Miami,Florida,1968
53,NaN,NaN,NaN,Jan 14,1968,II (2),Green Bay Packers,33,Oakland Raiders,14,Bart Starr+,Orange Bowl,Miami,Florida,1967
54,NaN,NaN,NaN,Jan 15,1967,I (1),Green Bay Packers,35,Kansas City Chiefs,10,Bart Starr+,Memorial Coliseum,Los Angeles,California,1966

In [84]:
df_strats = df_combined[['Year','strat1','strat2','strat3']]
df_strats

    Year  strat1  strat2  strat3
0   2021  -100.0   300.0    60.0
1   2020   550.0   175.0    10.0
2   2019   500.0   150.0     0.0
3   2018  -100.0  -100.0  -100.0
4   2017   375.0    87.5   -25.0
5   2016  -100.0  -100.0  -100.0
6   2015  -100.0  -100.0    80.0
7   2014   550.0   175.0    10.0
8   2013  -100.0  -100.0  -100.0
9   2012  -100.0  -100.0  -100.0
10  2011  -100.0   275.0    50.0
11  2010  -100.0  -100.0   120.0
12  2009  -100.0   450.0   120.0
13  2008  -100.0  -100.0  -100.0
14  2007  -100.0  -100.0    80.0
15  2006  -100.0  -100.0   160.0
16  2005  -100.0   200.0    20.0
17  2004  -100.0   250.0    40.0
18  2003   900.0   350.0    80.0
19  2002  -100.0  -100.0  -100.0
20  2001  -100.0  -100.0    80.0
21  2000   400.0   100.0   -20.0
22  1999  -100.0   200.0    20.0
23  1998  -100.0  -100.0    40.0
24  1997   350.0    75.0   -30.0
25  1996  -100.0   250.0    40.0
26  1995     NaN     NaN     NaN
27  1994     NaN     NaN     NaN
28  1993     NaN     NaN     NaN
29  1992     NaN     NaN     NaN
30  1991     NaN     NaN     NaN
31  1990     NaN     NaN     NaN
32  1989     NaN     NaN     NaN
33  1988     NaN     NaN     NaN
34  1987     NaN     NaN     NaN
35  1986     NaN     NaN     NaN
36  1985     NaN     NaN     NaN
37  1984     NaN     NaN     NaN
38  1983     NaN     NaN     NaN
39  1982     NaN     NaN     NaN
40  1981     NaN     NaN     NaN
41  1980     NaN     NaN     NaN
42  1979     NaN     NaN     NaN
43  1978     NaN     NaN     NaN
44  1977     NaN     NaN     NaN
45  1976     NaN     NaN     NaN
46  1975     NaN     NaN     NaN
47  1974     NaN     NaN     NaN
48  1973     NaN     NaN     NaN
49  1972     NaN     NaN     NaN
50  1971     NaN     NaN     NaN
51  1970     NaN     NaN     NaN
52  1969     NaN     NaN     NaN
53  1968     NaN     NaN     NaN
54  1967     NaN     NaN     NaN

In [ ]:
# Charting - Individual Bar Graph Strat 1, 2, & 3
main(2018,1)
# Charting - Combined Bar Graph Total Wins Over Years

# Charting - Combine Bar Graph Total $ Won or Lost Over Years

In [ ]:
# Correlation Analysis

# 1. Correlation between end of season preseason leaders vs. Making SB
# Charting - Pie Chart? Scatter Plot?

In [ ]:
# 2. Correlation between end of season records of preseason favorites vs SB Teams
# Charting - Side by side - Bar Graph?

In [ ]:
# 3. Correlation between preseason wins vs regular season success  
# Charting - Side by side - Bar Graph?

In [ ]:
# Post Season Analysis
# Distance Travel by Teams wins and losses
# Charting - Heatmap?

# Post Season odds